aside {
    background-color: yellow;
  }
  
  header {
    background-color: green;
  }
  
  main {
    background-color : blue;
  }
  
  footer {
    background-color : red;
  }
  
  body {
    height: 100vh;
  }
  
  body>div {
    height: 100%;
  }
  
  .row>* {
    height: 1OOvh;
  }
  
  .row {
    height: 33%;
  }